@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.page-title {
  font-size: 40px;
  /* margin-left: 40px; */
  margin-top: 26px;
}

.text-white {
  color: white;
}

.menu-button {
  float: right;
  margin-right: 30px;
}

.save-button {
  margin-right: 15px;
}

.modal-div {
  width: 370px;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 30px;
}

/* .album-modal-title {
  margin-top: -43px;
} */

.album-modal-title {
  margin-top: 15px;
}

.album-modal-input {
  padding-left: 11px;
}

.album-list-input {
  margin-top: 10px;
}

.edit-album-button {
  float: right;
}

.content-div {
  margin: 15px 40px 15px 40px;
}

.album-div {
  margin: 15px 40px 15px 40px;
}
